body {
    margin: 0px;
    width: 500px;
    font-size: 16px;
    background-color: #192841;
    color: white;
    font-weight: 600;
    padding: 20px;
    border-radius: 4px;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#invalid-site-message {
    align-self: center;
    max-width: 300px;
    text-align: center;
}

#refresh-message-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#refresh-message-container-text {
    align-self: center;
    max-width: 300px;
    text-align: center;
}

#refresh-message-container-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    height: 44px;
    width: 100px;
    cursor: pointer;
    border-radius: 4px;

    font-size: 20px;
    color: white;
    font-weight: 700;
}

#model-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
} 

#model-viewer-header {

}

#model-viewer-stats {
    
}

#model-viewer-model-stats-container {
    display: flex;
    gap: 10px;
}

#model-viewer-back-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    height: 44px;
    width: 100px;
    cursor: pointer;
    border-radius: 4px;

    font-size: 20px;
    color: white;
    font-weight: 700;
}